.meaning-container {
    margin-bottom: 30px;
}

.part-of-speech {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.part-of-speech p {
    line-height: 13px;
    font-weight: 600;
    font-size: 22px;
}

.part-of-speech hr {
    height: 0px;
    width: 100%;
    border-color: var(--light-gray);
}

.meaning {
    color: var(--gray);
    margin-bottom: 20px;
}

li::marker {
    color: var(--magenta);
}

/* .definition-container {
    padding: 20px;
} */

.list-item {
    padding: 0px 20px;
}

li {
    margin-bottom: 20px;
}

.example {
    color: var(--gray);
    margin-bottom: 20px;
    padding: 0px 20px;
}

.synonyms-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.synonyms-container p {
    color: var(--gray);
}

.synonyms-list p {
    color: var(--magenta);
}

@media screen and (min-width: 768px) {
    .meaning-container {
        padding: 0px 20px;
    }
    .part-of-speech p {
        font-size: 24px;
    }
    .meaning {
        font-size: 24px;
    }
    li {
        font-size: 20px;
    }
    .example {
        font-size: 20px;
    }
    .synonyms-container p {
        font-size: 20px;
    }
}