.search-container {
    width: calc(100% - 40px);
    padding: 30px 16px;
    position: relative;
    max-width: 750px;
}

.input {
    width: calc(100% - 60px);
    background-color: var(--light-gray);
    border: none;
    font-size: 30px;
    padding: 10px 30px;
    border-radius: 20px;
}

.search-button {
    cursor: pointer;
    position: absolute;
    right: 32px;
    top: 45px;
    border: none;
    background-color: rgba(0, 0, 0, 0%);
}

.search-image {
    width: 30px;
    height: 30px;
    
}

@media screen and (min-width: 768px) {
    .search-container  {
        padding: 30px 20px;
    }
    .input {
        font-size: 40px;
    }
    .search-button {
        top: 50px;
        right: 40px;
    }
}

/* @media screen and (min-width: 1024px) {
    .search-button{
        top: 50px;
        right: 20px;
    }
} */