.background-container {
    background-color: var(--white);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.app-container {
    max-width: 750px;
    width: 100%;
}